name: polypenv
channels:
  - defaults
  - pytorch
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - torch>=2.0.0
      - torchvision
      - torchaudio
      - segmentation-models-pytorch
      - albumentations
      - opencv-python
      - numpy
      - scikit-learn
      - matplotlib
      - huggingface-hub
      - gradio
      - tqdm
